.nav-links {
    display:flex;
    align-items: center;
    margin-right: -24px;
    list-style: none;
}

@media screen and (max-width: 760px){
    .nav-links{
        display: none;
    }


    .nav-links-mobile{
        position: absolute;
        display: block;
        background-color: white;
        left: 0;
        top: 55px;
        transition: all 0.5s ease-out;
        width: 100%;
        text-align: center;
        padding: 32px;
    }
}